<%= form_for @contact, :html => {:name => 'myForm'} do |f| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <input name="name" ng-model="name" required>
    <span ng-show="myForm.name.$touched && myForm.name.$invalid">The name is required.</span>
  </div>

  <div class="field">
    <%= f.label :email %>
    <input name="email" ng-model="email" type="email" required>
    <span ng-show="myForm.email.$touched && myForm.email.$invalid">The email is required or invalid.</span>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <input name="phone" ng-model="phone" required>
    <span ng-show="myForm.phone.$touched && myForm.phone.$invalid">The phone is required.</span>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :organization %>
    <%= f.text_field :organization %>
  </div>

  <div class="field">
    <%= f.label :birthday %>
    <%= f.date_select :birthday %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
