<p id="notice"><%= notice %></p>

<h1><%= t(".contacts")%></h1>



<%= link_to t(".download_all_contacts"), contact_generate_vcards_path(current_user), class: "btn btn-primary"%>
<br>

<table class="table table-responsive table-striped" id= "contact-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Organization</th>
      <th>Birthday</th>
    </tr>
  </thead>

  <tbody >
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= link_to contact.name, contact , :class => "link-color"%></td>
        <td><%= contact.email %></td>
        <td><%= contact.phone %></td>
        <td><%= contact.address %></td>
        <td><%= contact.organization %></td>
        <td><%= contact.birthday %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.new_contact'), new_contact_path, class: "btn btn-primary" %>

