<p id="notice"><%= notice %></p>
<%= link_to t('.back'), contacts_path, class: "btn btn-primary" %>

<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contact.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @contact.address %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @contact.organization %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @contact.birthday %>
</p>
<%= link_to t('.generate_vCard'), contact_generate_vcard_path(@contact) , class: "btn btn-primary"%> 
<%= link_to t('.edit'), edit_contact_path(@contact), class: "btn btn-primary" %> 
<%= link_to t('.delete'), @contact, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
