<!DOCTYPE html>
<html>
  <head>
    <title>JungleCodersDemo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> 
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
  </head>

  <body ng-app="">
 	  <%= render "layouts/header" %>
  	<div class="container-fluid">
	  	<!-- <p id="notice" class="alert"><%= notice %></p> -->
	  	<%= yield %>
	</div>    
  </body>
</html>
